{
        "door" : {
                "host" : "door.example.com",
                "port": 23,
                "timeout": 1000
        },
        "api": {
                "port": 3000
        },
        "auth_log": "auth.log",
        "auth_http_backend": "http://example.com"
}
